:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #757575;
  --accent-color: #2196f3;
  --header-text-color: #212121;
}

/* ---------- Сброс некоторых стилей ---------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* ---------- Container ---------- */

.container {
  /* background-color: salmon; */
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* ---------- Header ---------- */

.header {
  /* height: 80px; */
  /* padding-top: 24px;
  padding-bottom: 25px; */
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-item {
  padding-bottom: 32px;
  padding-top: 32px;
}

.header-list {
  display: flex;

  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-contact {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-logo-text:hover {
  color: var(--accent-color);
}

.header-logo:hover
/* .header-logo:focus { */ {
  color: #000000;
}

.header-logo {
  margin-right: 93px;
}

.header-logo-text {
  color: var(--header-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.currentLink {
  color: var(--accent-color);
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacts-link:not(:last-child) {
  margin-right: 40px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* ----------Header Logo ---------- */

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

/* ---------- Main Section ---------- */

.hero {
  background: #2f303a;
  width: auto;
  /* height: 600px; */
  padding-bottom: 200px;
}

.hero-title {
  margin: 0 auto;
  max-width: 696px;
  padding-top: 200px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

/* ---------- Button ---------- */

.btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  /* max-width: 200px; */
  /* height: 50px; */
}

.header-btn {
  color: #ffffff;
  margin: 0 auto;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--accent-color);
  background: #ffffff;
}

/* ---------- Feature Section ---------- */
.feature {
  align-items: center;
  padding-bottom: 0;
}

.feature-title-block {
  display: flex;
  align-items: center;
  margin-right: -30px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-title-item {
  width: 270px;
  margin-right: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.feature-title-text {
  padding-top: 10px;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* ---------- Our Technology ---------- */

.our-commands {
  width: auto;
  background-color: #f5f4fa;
}

.our-technology {
}

.our-technology-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.our-technology-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.our-technology-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.our-commands-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
  color: var(--secondary-title-color);
}

.commands-border {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-commands-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.our-commands-item {
  /* justify-content: space-between; */
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 15px;
  margin-top: 30px;
}

.our-commands-name {
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.our-commands-item {
  margin: 0 auto;

  /* display: block; */
}

.our-commands-workspace {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--third-text-color);
}

/* ---------- Footer ---------- */

.footer {
  padding-top: 60px;
  /* padding-bottom: 60px; */
  background-color: #2f303a;
  width: auto;
  height: 252px;
}

.adress-ident {
  padding-bottom: 8px;
}

.footer-list {
  padding-top: 20px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo:hover {
  color: var(--primary-title-color);
}

.footer-logo-text {
  color: #ffffff;
}

.footer-logo-text:hover,
.footer-logo-text:focus {
  color: var(--accent-color);
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.adress:hover {
  color: var(--accent-color);
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

.footer-contact-link:hover {
  color: var(--accent-color);
}

/* ---------- Portfolio ---------- */

.header-border {
  border-bottom: 1px solid #ececec;
}

.btn-port {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #f5f4fa;
  border: none;
}

.btn-port:hover {
  color: var(--accent-color);
}

.portfolio-btn {
  color: #000000;
  display: flex;
  height: 38px;
  margin-left: 8px;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-btn-item {
  height: 54px;
  padding-bottom: 34px;
}

.portfolio-btn-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 34px;
}

.our-projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  padding-bottom: 94px;
  margin-bottom: -30px;
}

.our-projects-item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  margin-bottom: 30px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}

/* ---------- Portfolio Our Projects---------- */

.our-projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  padding-bottom: 4px;
}

.our-projects-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--third-text-color);
}

.hidden-title {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.cards-border {
  padding: 20px 24px;
  width: 370px;
  height: 110px;
  flex-wrap: wrap;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: 0;
}
